@charset "UTF-8";
/* index.jsp */

body{
	font-family: '애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',
				'Helvetica Neue','Helvetica','나눔바른고딕',
				'NanumBarunGothic','나눔바른고딕OTF','NanumBarunGothicOTF',
				'Noto Sans','Noto+Sans','notokr-demilight','나눔고딕','NanumGothic',
				'맑은 고딕','Malgun Gothic','sans-serif';
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;	
}

/*Header부분*/
#main-header{
	width: 100%;
	position:fixed;
	background-color:#fff;
	opacity: 0.8;
	border: thin solid #3b3b3b;
	z-index: 10020;
}

#header_menubar{
	display: flex;
	height:60px;
	align-items: center;
}

#menu_logo{
	padding-left:10px;	
}

#logo-link{
	height :45px;
}

#logo-img{
	margin-left:20px;
	height: 45px;
	width: auto;
}

#menu_search-button{
	border:0;
	background-color:transparent;
}

#search-img{
	height: 30px;
	width: auto;
	margin-right:20px;
}

#menu-button{
	border:0;
	background-color:transparent;
}

#menu-img{
	height: 40px;
	width:auto;
	
}

#menu-empty{
	width:87%
}

/*우측 사이드 메뉴창 */
#menu_page{
	position:fixed;
	top:60px;
	width:100%;
	height:500px;
	visibility:hidden;
	z-index:10000;	
	background-color: #000000;	
}
#menu-page-wrap{
	height:500px;
	border:1px solid #c0c0c0;
	background-color: #fff;
	display:flex;
}
/*우측사이드창 - wrap*/
#page-besthot-wrap{
	width:calc(43.24vw - 138px); /*130*/
	min-width:318px;
	border:1px solid #ff8040;
}
#page-category-wrap{
	width:calc(56.76vw - 138px); /*130*/
	min-width:418px;
	border:1px solid #ff0080;
}
#page-profile-wrap{
	width:258px;
	min-width:258px;
	border:1px solid #0000ff;
}
/*우측사이드창 - besthot*/
#page-best{
	width:calc(43.24vw - 140px);
	min-width:318px;
	height:250px;
}
#page-best-title{
	height:20px;
}

#page-best-list{
	width:318px;
	min-width:318px;
	list-style: none;
	display:flex;
	height:230px;
	overflow-x: auto;
	overflow-y: hidden;
	padding:0;
	margin:0 auto;
	-ms-overflow-style: none;
}
#page-best-list::-webkit-scrollbar { 
    display: none !important; /* 윈도우 크롬 등*/
} 
.page-best-item{
	height:230px; /*215*/
	width: 298px; /*298*/
	margin:10px;
}
.page-best-link{
	height:215px; 
	width: 298px;
	display:inline-block;
}
.page-best-link img{
	width: 298px;
	height:auto;
	object-fit: cover;
}

#page-hot{
	width:calc(43.24vw - 140px);
	min-width:318px;
	height:250px;
}

/*우측사이드창 - profile*/
#page-profile-wrap .profile-menu{
	border: 1px solid black;
	width: 246px;
	height: 48px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:0 5px;
}
.profile-menu .feed-button img{
	width:20px;
}
.profile-menu .close-button{
	border:0;
	background-color:transparent;
	padding:0;
}
.profile-menu .close-button img{
	width:20px;
}
/*메인 페이지*/
#main_top{
	height: 120px;
	border: thick solid #fc4f36; 
}
/*추천책 란*/
#recom_book{
	height: 500px;
	border: thick solid #fea73d;
}
#recom_book-cont{
	height: 440px;
	border:thick solid #fedeb4;
	margin-top:50px;
	overflow-x: auto;
	overflow-y: hidden;
	/*https://www.codingfactory.net/10599
	  https://blog.jaeyoon.io/2017/10/css-scrollbar.html
	   나중에 hidden처리*/
	-ms-overflow-style: none; /*IE에서 스크롤바 감춤 */	
}
#recom_book-cont::-webkit-scrollbar { 
    display: none !important; /* 윈도우 크롬 등*/
} 
#recom_book-list{
	list-style: none;
	display:flex;
	align-items: center;		/*상하정렬*/
	justify-content: center;	/*좌우정렬*/
	padding-left: 3640px ;
}

.recom_book-item{
	border: medium solid #c0c0c0;
	margin: 15px 30px;
	box-shadow:3px 3px 3px #636569;
}
.recom_book-item .link_item{
	text-decoration: none;
}
.recom_book-item-head{
	color: black;

}
.book-item-head-inner{
	height:360px;
	width:270px;
}

.book-item-head-inner-cont{
	text-align: center;
}
.book-item-head-inner-cont-top{
	height: 220px;
	padding-top:80px;
}
.book-item-head-inner-cont-bottom{
	height: 40px;
	padding-top:20px;
}
.book-item-head-inner strong{
	display:block;
}
.book-item-head-inner span{
	display: block;
}

/*공감글 란*/
#recom_writting{
	height: 600px;
	border: thick solid #fea73d;
}
#recom_writting-cont{
	height: 540px;
	border:thick solid #fedeb4;
	margin-top:50px;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE에서 스크롤바 감춤 */
}
#recom_writting-cont::-webkit-scrollbar { 
    display: none !important; /* 윈도우 크롬 등 */
}
#recom_writting-list{
	list-style: none;
	display:flex;
	align-items: center;		/*상하정렬*/
	justify-content: center;	/*좌우정렬*/
	padding-left: 4445px;		
}

.recom_writting-item{
	border: medium solid #c0c0c0;
	margin: 15px 30px;
	box-shadow:3px 3px 3px #636569;
}
.recom_writting-item .link_item{
	text-decoration: none;
}
.recom_writting-item-head{
	color: black;

}
.writting-item-head-inner{
	height:430px;
	width:350px;
}

.writting-item-head-inner-cont{
	text-align: center;
}
.writting-item-head-inner-cont-img{
	height: 238px;
	margin: 15px;
	background-image:url(../img/a.jpg);
	border:1px solid #c0c0c0;
}
.writting-item-head-inner-cont-hs{
	height:140px;
}
.writting-item-head-inner-cont-head{
	max-height: 64px;
	padding:0 20px;
}
.writting-item-head-inner-cont-sub{
	max-height: 100px;
	padding:0 20px;
	margin-top:10px;
	item-align:center;
}
.writting-item-head-inner-cont-bottom{
	height: 30px;
}
.writting-item-head-inner-cont-head p{
	display:inline-block;
	margin:0;
	max-height: 64px;
	font-family: 'AppleSDGothicNeoEB00','sans-serif';
	font-size: 20px;
	word-wrap: break-word;	
}
.writting-item-head-inner-cont-sub span{
	display:inline-block;
	margin:0;
	max-height: 100px;
	font-size: 18px;
	font-family: 'AppleSDGothicNeoM00','sans-serif';
	overflow: hidden;		/*내용이 넘어가면 숨김*/
	white-space: normal;	/*줄바꿈 처리 : width넘어가면 엔터처리*/ 
	word-wrap: break-word;	/*엔터처리시에 단어단위로 끊어서 사용-현재적용안됨..*/
	text-overflow: ellipsis;/*문자 over되는거 ...처리*/
}/* 문자수를 제한해서 소제목을 보여줄 것*/
.writting-item-head-inner span{
	display: block;
	font-size: 14px;
	font-family: 'AppleSDGothicNeoM00','sans-serif';
}

/* 추천 작가 란 */
#recom_writer{
	height: 490px;
	border: thick solid #96f52c;
	display:flex;
	justify-content:center;
}
#recom_writer-cont{
	height: 430px;
	width: 940px;
	min-width: 940px;
	border:thick solid #97fd8e;
	margin-top:50px;
}
#recom_writer-list{
	list-style: none;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	padding-left:0;
}
.recom_writer-item{
	border:1px solid #c0c0c0;
	margin:10px 10px;
}
.recom_writer-item-inner{
	width:280px;
	height:170px;
}
.recom_writer-item-link {
	text-decoration:none;
	display:flex;
	height:130px;
}
.recom_writer-item-img{
	height:90px; 
	width:90px;
	display:inline-block;
	margin:10px;
}
.recom_writer-item-img img{
	height:90px;
	width:90px;
	object-fit: cover;
	border-radius: 50%;
}

.recom_writer-item-intro{
	margin-right:10px;
}
.recom_writer-item-intro strong{
	font-size:14px;
	color:#b8b8b8;
	display:block;
	margin-top:10px;
}
.writer-job{
	font-size:14px;
	color:#b8b8b8;
	display:block;
	margin-top:5px;
}
.writer-intro{
	font-size:14px;
	color:#b8b8b8;
	overflow: hidden;		/*내용이 넘어가면 숨김*/
	white-space: normal;	/*줄바꿈 처리 : width넘어가면 엔터처리*/ 
	word-wrap: break-word;	/*엔터처리시에 단어단위로 끊어서 사용.*/
	text-overflow: ellipsis;/*문자 over되는거 ...처리*/
	display: -webkit-box; 
	-webkit-line-clamp: 4; /* 라인수 */ 
	-webkit-box-orient: vertical;
	line-height: 1.2em; 
	height: 4.7em; 
	/* line-height 가 1.2em 이고 4라인을 자르기 때문에 height는 
		1.2em * 4 = 4.8em ....아래가 조금 보여서 4.7로 줄임*/
	margin-top:10px;	

}
.recom_writer-keyword{
	display:flex;
	justify-content: flex-end;
	height:40px;
	margin-right:5px;
	
}
.recom_writer-keyword button{
	background-color:transparent;
    border:1px solid #c0c0c0; 
    border-radius: 20px;
    color:#c0c0c0;
    margin:6px 2px;
}

/* 최신 글 란 */
#recent_writting{
	height:600px;
	border: thick solid #70fee9;
}
#recent_writting-cont{
	height: 540px;
	border:thick solid #b1fefc;
	margin-top:50px;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE에서 스크롤바 감춤 */	
}
#recent_writting-cont::-webkit-scrollbar { 
    display: none !important; /* 윈도우 크롬 등 */
}
#recent_writting-list{
	list-style: none;
	display:flex;
	align-items: center;		/*상하정렬*/
	justify-content: center;	/*좌우정렬*/
	padding-left: 4445px;
}
.recent_writting-item{
	border: medium solid #c0c0c0;
	margin: 15px 30px;
	box-shadow:3px 3px 3px #636569;
}
.recent_writting-item .link_item{
	text-decoration: none;
}
.recent_writting-item-head{
	color: black;

}
.recent_writting-item-head-inner{
	height:430px;
	width:350px;
}

.recent_writting-item-head-inner-cont{
	text-align: center;
}
.recent_writting-item-head-inner-cont-img{
	height: 238px;
	margin: 15px;
	background-image:url(../img/a.jpg);
	border:1px solid #c0c0c0;
}
.recent_writting-item-head-inner-cont-hs{
	height:140px;
}
.recent_writting-item-head-inner-cont-head{
	max-height: 64px;
	padding:0 20px;
}
.recent_writting-item-head-inner-cont-sub{
	max-height: 100px;
	padding:0 20px;
	margin-top:10px;
}
.recent_writting-item-head-inner-cont-bottom{
	height: 30px;
}
.recent_writting-item-head-inner-cont-head p{
	display:inline-block;
	margin:0;
	max-height: 64px;
	font-family: 'AppleSDGothicNeoEB00','sans-serif';
	font-size: 20px;
	word-wrap: break-word;	
}
.recent_writting-item-head-inner-cont-sub span{
	display:inline-block;
	margin:0;
	max-height: 100px;
	font-size: 18px;
	font-family: 'AppleSDGothicNeoM00','sans-serif';
	overflow:hidden;
	white-space: normal;
	word-wrap: break-word;
	text-overflow: ellipsis;
}/* 문자수를 제한해서 소제목을 보여줄 것*/
.recent_writting-item-head-inner span{
	display: block;
	font-size: 14px;
	font-family: 'AppleSDGothicNeoM00','sans-serif';
}
/* footer 정보란*/
#main-footer{
	height: 100px;
	border: thick solid #7caafe;
}


/*좌우 스크롤 버튼 설정*/
.slide-button{
	width:96%;	/*바깥 div크기만큼의 너비*/
	height:0;	/*직접적으로 div가 보이진 않음*/
	position:relative;	
	bottom:50%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-left:2%;
	opacity: 0.6;
}
recent_writting-cont-slideleft .slide-button{
	
}

.slide-left, .slide-right{	
	background-color:#ffffac;
	border-radius: 50%;
	width:100px;
	height:100px;
	justify-content:center;
	align-items: center;
}
.slide-button .slide-left img{
	width:80px;
	height:80px;
	margin:10px 10px 10px 0px;
}
.slide-button .slide-right img{
	width:80px;
	height:80px;
	margin:10px 0px 10px 20px;
}




