@charset "UTF-8";
#write_title{
	border:1px solid red;
}
#title_parent{
	float:left;
	width:700px;
	transform: translate(50%,50%);
}
#main_title{
	padding:0px 0px;
	margin:0px 0px;
}
#main_title:empty::before{
	content:"메인타이틀";
	font-size: 38pt;
	font-family: "Nanum Myeongjo";
	cursor: text;
	opacity:0.6;
}
#sub_title{
	padding-top:5px;
	display:inline-block;
	max-width:700px;
	min-width:100px;
}
#sub_title:empty::before{
	content:"서브타이틀";
	font-size:38pt
	font-family:"NanumMyeongjo";
	corsor:text;
	opacity:0.6;
}
.cont_area{
	width:700px;
	border:1px solid blue;
	margin:0px auto;
	position:relative;
	padding:40px 0px;
}





