@charset "UTF-8";
#write_title{
	position:relative;
	border:1px solid red;
}
#title_parent_center{
	border:1px solid grey;
	position:absolute;
	top:auto;
	bottom:50%;
	width:700px;
	transform: translate(85.5%,50%);
    -webkit-transform: translate(85.5%,50%);
	text-align:center
}
#title_parent_bottom{
	border:1px solid grey;
	position:absolute;
	right:0px;
	bottom:0px;
	left:0px;
	width:700px;
	margin:0px auto;
	text-align:left;
}
#main_title:empty::before{
	content:"제목을 입력하세요"
}
#sub_title:empty::before{
	content:"소제목을 입력하세요"
}
#main_title{
	display:inline-block;
	min-width:100px;
	max-width:700px;
	margin:0px;
	padding:0px;
}
#sub_title_cover{
	display:inline-block;
	padding-top:10px;
}
#sub_title{
	display:inline-block;
	min-width:100px;
	max-width:700px;
}
.cont_area{
	width:700px;
	border:1px solid blue;
	margin:0px auto;
	position:relative;
	padding:40px 0px;
}





